Repository yongjichen33/typeBrew: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, oxlint, rustfmt, clippy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{ts,tsx}'
      run: npx eslint --fix {staged_files}
      stage_fixed: true

    prettier:
      glob: '*.{ts,tsx,css,json,md}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    oxlint:
      glob: '*.{ts,tsx}'
      run: npx oxlint {staged_files}

    rustfmt:
      glob: 'src-tauri/**/*.rs'
      run: cd src-tauri && cargo fmt --check

    clippy:
      glob: 'src-tauri/**/*.rs'
      run: cd src-tauri && cargo clippy --all-targets --all-features -- -D warnings

pre-push:
  commands:
    cargo-audit:
      run: cd src-tauri && cargo audit

    typescript-check:
      run: npx tsc --noEmit

added unit tests
  README.md
  coverage/base.css
  coverage/block-navigation.js
  coverage/favicon.png
  coverage/hooks/index.html
  coverage/hooks/useGlyphEditor.ts.html
  coverage/index.html
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/hooks/index.html
  coverage/lcov-report/hooks/useGlyphEditor.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/lib/glyphParser.ts.html
  coverage/lcov-report/lib/index.html
  coverage/lcov-report/lib/svgPathParser.ts.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
  coverage/lib/glyphParser.ts.html
  coverage/lib/index.html
  coverage/lib/svgPathParser.ts.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  lefthook.yml
  package-lock.json
  package.json
  src-tauri/src/font_parser.rs
  src/hooks/useGlyphEditor.test.ts
  src/hooks/useGlyphEditor.ts
  src/lib/glyphParser.test.ts
  src/lib/svgPathParser.test.ts
  vitest.config.ts
Due: eslint, prettier, oxlint, rustfmt, clippy

initiate support for composite glyph, still bugging due to the offset of component glyphs in the composite font are set correctly
  src/components/editor/GlyphEditorCanvas.tsx
  src/components/editor/GlyphEditorTab.tsx
  src/hooks/useEditorRenderer.ts
  src/lib/glyphPathRegistry.ts
Due: eslint, prettier, oxlint

format rust code
  src-tauri/src/font_parser.rs
  src-tauri/src/lib.rs
  src/assets/fonts/Inter-VariableFont.ttf
  src/components/GlyphGrid.tsx
  src/components/editor/GlyphEditorCanvas.tsx
  src/components/editor/GlyphEditorTab.tsx
  src/components/editor/InspectorPanel.tsx
  src/hooks/useEditorInteraction.ts
  src/hooks/useEditorRenderer.ts
  src/hooks/useGlyphEditor.ts
  src/lib/editorTypes.ts
  src/lib/svgPathParser.test.ts
  src/lib/svgPathParser.ts
Due: eslint, prettier, oxlint, rustfmt, clippy

remove coverage tests
  .gitignore
  coverage/base.css
  coverage/block-navigation.js
  coverage/favicon.png
  coverage/hooks/index.html
  coverage/hooks/useGlyphEditor.ts.html
  coverage/index.html
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/hooks/index.html
  coverage/lcov-report/hooks/useGlyphEditor.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/lib/glyphParser.ts.html
  coverage/lcov-report/lib/index.html
  coverage/lcov-report/lib/svgPathParser.ts.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
  coverage/lib/glyphParser.ts.html
  coverage/lib/index.html
  coverage/lib/svgPathParser.ts.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
Due: prettier

code optimizations
  .gitignore
  src/components/editor/GlyphEditorTab.tsx
  src/hooks/useCanvasKit.ts
  src/hooks/useGoldenLayout.tsx
Due: eslint, prettier, oxlint

code optimizations #2
  .gitignore
  src/components/GlyphGrid.tsx
  src/components/editor/GlyphEditorCanvas.tsx
  src/pages/FontViewer.tsx
Due: eslint, prettier, oxlint

minor code optimization
  src/components/editor/GlyphEditorCanvas.tsx
  src/components/editor/GlyphEditorTab.tsx
  src/lib/glyphClipboard.ts
Due: eslint, prettier, oxlint

code optimization #3
  src/components/TableContentTab.tsx
  src/components/editor/CompositeInfoBar.tsx
  src/components/editor/GlyphEditorCanvas.tsx
  src/components/editor/GlyphEditorTab.tsx
  src/components/editor/InspectorPanel.tsx
  src/hooks/useEditorInteraction.ts
  src/hooks/useEditorRenderer.ts
  src/hooks/useGlyphEditor.test.ts
  src/hooks/useGlyphEditor.ts
  src/lib/editorEventBus.ts
  src/lib/editorTypes.ts
  src/lib/svgPathParser.ts
  src/pages/FontViewer.tsx
Due: eslint, prettier, oxlint

fixed multi select dragging component glyph
  src/hooks/useEditorInteraction.ts
Due: eslint, prettier, oxlint

additional composite glyph supports
  src-tauri/src/font_parser.rs
  src/components/editor/EditorToolbar.tsx
  src/components/editor/GlyphEditorTab.tsx
  src/components/editor/InspectorPanel.tsx
  src/hooks/useEditorInteraction.ts
  src/hooks/useGlyphEditor.test.ts
  src/hooks/useGlyphEditor.ts
  src/lib/editorTypes.ts
  src/lib/svgPathParser.ts
Due: eslint, prettier, oxlint, rustfmt, clippy

additional composite glyph supports
  src-tauri/src/font_parser.rs
Due: rustfmt, clippy

added hinting preview panel
  src-tauri/src/font_parser.rs
  src-tauri/src/lib.rs
  src/components/editor/EditorToolbar.tsx
  src/components/editor/GlyphEditorTab.tsx
  src/hooks/useGlyphEditor.ts
  src/lib/editorTypes.ts
Due: eslint, prettier, oxlint, rustfmt, clippy

added hinting preview panel
  src-tauri/src/font_parser.rs
  src/components/editor/EditorToolbar.tsx
Due: eslint, prettier, oxlint, rustfmt, clippy

fixed panel responsiveness and width overlap issues
  src/components/editor/GlyphEditorTab.tsx
  src/components/editor/InspectorPanel.tsx
Due: eslint, prettier, oxlint

added hinting preview panel
  src/components/editor/HintingPreviewPanel.tsx
Due: eslint, prettier, oxlint
